ol,ul{
	list-style:none;
	color:black;
}
#mainMenu{
	margin:0px;
	width:800px;
	
}
#mainMenu li{
	display:block;
	width:2000px;
	float:left;
	margin-left:150px;
	color:black;
 }
 
#mainMenu a{
	display:block;
	padding:10px;
	color:#000;
	text-decoration:none;
	background-color:#FFA500;
	margin:10px;
	width:100%;
 }
 #mainMenu a:hover{
	 background-color:#FFA500;
	 color:#fff;
 }
 a { 
 color: #FF0000;
 }
 #t5{
	 margin-left:5px;
 }
 